/__pycache__/
/.idea/
/out/
/Debug/
/.vs/
/v16/
/Release/
*.xml
*.class
*.iml
*.sln
*.tlog
*.vcxproj
*.vcxproj.filters
*.filters
*.user
*.lastbuildstate
*.obj
*.exe
*.ilk
*.log
*.pdb
*.idb
*.db
*.suo
*.ipch